body {
    font-family: mulish;
    margin: 0px;
    height: 100dvh;
}


nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #F9A4BB;
    z-index: 999999;
}

.Logo-nav {

    height: 9rem;
}

.conteudo-nav {
    display: flex;
    align-items: center;
    height: 6.25rem;
    border-bottom: solid #FFFFFF 2px;
    gap: 7.5rem;



}

.conteudo-esquerda-nav {
    width: 20%;
    display: flex;
    justify-content: center;



}

.conteudo-direita-nav {
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 5rem;

}

.links-nav {
    display: flex;
    justify-content: space-between;
    gap: 5rem;

    a {
        color: #FFFFFF;
        font-size: 20pt;
        text-decoration: none;
        transition: color 0.5s;
    }

    a:hover {
        color: #E71059;
    }

}


.conteudo-pai {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 3rem;
    overflow: hidden;

   
}

.filho-esquerda {
    width: 50%;
    padding-top: 5.625rem;
    

    button {
       
        background-color: #E71059;
        color: #FFFFFF;
        font-size: 14pt;
        border-radius: 25px;
        width: 13rem;
        height: 3.5rem;
        cursor: pointer;
        top: 10rem;
        transition: 0.5s;

        border: 0;
    }

    button:hover {
        color: #E71059;
        background-color: #FFFFFF;
    }

}

.filho-direita {
    width: 35%;
   
    display: flex;
   
   

}

.background-image-section1 {
    position: relative;
    display: flex;
    width: 40rem;
    height: 40rem;
    top: 4.55rem;
    justify-content: center;
    align-items: center;

     object-fit: contain;
  

}

.background-img-mulher {
    position: absolute;
    z-index: 1;
    background-color: #E71059;
    border-top-left-radius: 42%;
    border-top-right-radius: 42%;
    width: 36rem;
    height: 45rem;
     top: 0.5rem;
    
    
}

#home {
    background-color: #F9A4BB;
    height: 100dvh;
}

#texto-home {
    color: #FFFFFF;
    word-spacing: 0.44rem;
    font-size: 22pt;
    position: relative;
    display: inline-block;
    padding-bottom: 0.625rem;

}

#texto-home::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    right: 12rem;
    width: 30%;
    height: 0.19rem;
    background-color: #E71059;

}

#titulo1-home {
    color: #FFFFFF;
    font-size: 55pt;
}

#titulo2-home {
    color: #E71059;
    font-size: 68pt;
    line-height: 1.56rem;
}


#imagem-section1 {
    position: absolute;
    height: 55.625rem;
    width: auto;
    top: -10.5rem;
    right: 5rem;
    z-index: 100;
}
.conteinerPecas {
    height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
}
.inicioPecas{
    width: 100%;
    margin-bottom: 4rem;
}
#tituloPecas {
    font-size: 30pt;
    color: #E71059;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        margin: 1.5rem;
    }
}
.borda-Pecas{
    border-bottom: 0.2rem solid #E71059;
    width: 15%;
  
}

.colunasPecas {
    display: flex;
    flex-direction: row;
}

.coluna {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
 

}

.parte1Coluna {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.875rem;

}

.parte2Coluna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E71059;

}

.txtPecas {
    text-align: center;
    font-size: 22pt;
}

.subtituloPecas {
    font-size: 30pt;
}

.imagemColuna {
    background-color: #E71059;
    width: 19rem;
    height: 20rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.iconeColuna {
    background-color: #F9A4BB;
    border-radius: 100%;
    width: 4.475rem;
    height: 4.475rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    img {
        width: 3.125rem;
        height: 3.125rem;


    }
}

footer {
    background-color: #E71059;
    font-size: 18pt;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

footer a {
    color: #FFFFFF;
}

.logo-footer-div {
    display: flex;
    justify-content: center;
}

.div-central-logo-footer{
    display: flex;
    justify-content: center;
}

#logo-footer-image {
    width: 13.75rem;
    height: 13.75rem;
    display: flex;
    justify-content: center;
}

.div-vazia-clara{
    border: 0.15rem solid #F9A4BB;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 2rem;
}

.linksfooter {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.linksfooter a {
    margin-left: 0.625rem;
}

.Instagram img {
    width: 2.19rem;
    height: auto;
}

.Facebook img {
    width: 2.19rem;
    height: auto;
}

.Gmail img {
    width: 2.19rem;
    height: auto;
}

.feito-por {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

.div-titulo-localidade{
    display: flex;
    justify-content: center;
}

.div-vazia-escura{
    border: 0.15rem solid #E71059;
    width: 10%;
    margin-left: 45%;
}


.titulo-localidade{
    color: #E71059;
    font-size: 55pt;
    display: flex;
    justify-content: center;
}

.local-exato{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.div-img-local{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    background-color: #E71059;
    width: 53.125rem;
    height: 28.75rem;
}

.img-local{
    width: 50rem;
}

.div-texto-local{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right:5rem;
}

.div-img-maps{
    width: 5rem;
    height: auto;
}

.img-maps{
    width: 5rem;
    height: auto;
}

.texto-local{
    font-size: 22pt;
    color: #F9A4BB;
}

.texto-local p{
    display: flex;
    justify-content: center;
}
#sobre-Nos{
 background-color: #F9A4BB;
}
.conteudo-sobre-Nos{
    display: flex;
    flex-direction: row;
    margin-top: 20rem;
    margin-bottom: 2rem;
   
    margin-right: 5rem;
    height: 100dvh;
}
.parte1-Sobre-Nos{
    display: flex;
    align-items: end;
    justify-content: center;
    margin-right: 1rem;
    img{
    height: 60rem;
    width: 60rem;
    }
}

.parte2-Sobre-Nos{
    margin-top: 7rem;
}
.parte2-subtitulo{
    color: #E71059;
    font-size: 2rem;
    h2{
        margin: 0;
    }
}
.parte2-titulo{
    color: #FFFFFF;
    font-size: 2.2rem;   
    h1{
        font-weight: 400;
        margin: 0;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;    
    }
}
.parte2-txt{
    p {
     color: #E71059;
    font-size: 1.8rem;
    }
    
}
.parte2-imagens-prateleira{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 0.5rem;
    img{
        height: 14rem;
        width: auto;
    }
}
.imagem-prateleira{
    margin-right: 2rem;
    margin-top: 2rem;
}